<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body class="base">
    <container class="topcontainer">
        <h1 class="toptitle">munchable</h1>
        <div class="toplinks">
            <a>Contact Us</a>
            <a>| Help |</a>
            <a>Login</a>
        </div>
    </container>

    <div class="navbar">
        <div class="navdropdown">
            <a href="#">
                <button class="navdropbtn">Home</button>
            </a>
        </div>
        <div class="navdropdown">
            <a href="#">
                <button class="navdropbtn">New Releases</button>
            </a>
            <div class="navdropdown-content">
                <a href="#">Laptop Bags</a>
                <a href="#">Phone Cases</a>
                <a href="#">Popular</a>
            </div>
        </div>
        <div class="navdropdown">
            <a href="#">
                <button class="navdropbtn">Computer Bags</button>
            </a>
            <div class="navdropdown-content">
                <a href="#">Laptop Bags</a>
                <a href="#">Phone Cases</a>
                <a href="#">Popular</a>
            </div>
        </div>
        <div class="navdropdown">
            <a href="#">
                <button class="navdropbtn">Phone Cases</button>
            </a>
            <div class="navdropdown-content">
                <a href="#">Laptop Bags</a>
                <a href="#">Phone Cases</a>
                <a href="#">Popular</a>
            </div>
        </div>
        <div class="navdropdown">
            <a href="#">
                <button class="navdropbtn">Popular Items</button>
            </a>
            <div class="navdropdown-content">
                <a href="#">Laptop Bags</a>
                <a href="#">Phone Cases</a>
                <a href="#">Popular</a>
            </div>
        </div>
    </div>


</body>

</html>